# Ambiente virtual
venv/
.env/

# Cache Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Datasets grandes
jobs_dataset_with_features.csv
clean_resume_data.csv
